<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>You're on the contact page</h1> 
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea recusandae perspiciatis sapiente. Laudantium possimus provident, quibusdam veniam impedit quaerat repellendus delectus veritatis dolorem reprehenderit dolorum ullam ipsam, natus incidunt consectetur!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, obcaecati. Error, iste at. Officiis velit est distinctio molestiae, quidem fugiat reiciendis obcaecati totam, animi sit ea saepe ad eum? Consequatur!</p>
</body>
</html>